# Data files
*.nc
*.nc.*
*.csv
*.crc
*.parquet
# data/
# Database
# *.db
*.db.wal
checkpoint/
spark-warehouse/
venv/
# packaging
**build
**__pycache__
*.pyc
*.egg-info/
*.egg
.env
data/Load/glmFlash.db
