## backend dependencies
prefect==2.20.9
#pandas==2.0.3
netCDF4==1.6.5
botocore==1.31.44
boto3==1.28.44
SQLAlchemy==2.0.25
tqdm==4.66.3
numpy==1.26.3  
scipy==1.11.4
scikit-learn==1.5.0

## frontend dependencies
streamlit==1.37.0
plotly==5.18.0
# folium==0.17.0

## extras
pytest==7.4.2
pydantic>=1.8.0
pyarrow>=6.0.0
