## backend dependencies
prefect==2.20.9
netCDF4==1.6.5
pandas==2.0
boto3==1.28.44
botocore==1.31.44
scikit-learn==1.5.0
SQLAlchemy==2.0.25
tqdm==4.66.3
## frontend dependencies
streamlit==1.37.0
plotly==5.18.0